/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    --color-theme-1: #295F4E;
    --color-theme-2: #6DB193;
    --color-theme-3: #6DB193;
    --color-theme-base: #323232;
    --color-text: #F4E5C2;
    --color-border: #d9d9d9;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


    --navbar-height: 5%;
}
