/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    --color-theme-1-dark: #194839;
    --color-theme-base-dark: #222222;
    --color-text-dark: #BEAE8A;
    --color-theme-1: #295F4E;
    --color-theme-2: #6DB193;
    --color-theme-3: #F4E5C2;
    --color-theme-base-1: #323232;
    --color-theme-base-2: #2B2B2B;
    --color-theme-warning-1: #B21B1B;
    --color-text: var(--color-theme-3);
    --color-border: #d9d9d9;
    --color-red: #B21B1B;
    --color-red-dark: #9A1212;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    color: var(--color-theme-3);

    --navbar-height: 8%;
}

a {
    text-decoration: none;
}
