body {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

div#wrapper {
    position: absolute;
    top: var(--navbar-height);

    background-color: var(--color-theme-base-1);

    width: 100%;
    height: calc(100% - var(--navbar-height));

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

div#playlist-details-wrapper {
    padding: 4rem .6rem;

    width: 100%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
}

div#card-container {
    overflow-y: auto;
    padding: .6rem;

    width: 100%;
    height: 100%;

    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
