# DATABASE
# root password cannot be empty
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=cooklyst-app-db
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=3306

# URL
# not yet used as we statically define BASE and STORAGE path
BASE_URL=
STORAGE_URL=

# SERVER PAGINATION
PAGE_ROWS=
